[run]
branch = True
source = cas_server
omit =
    cas_server/migrations*
    cas_server/management/*
    cas_server/tests/*
    cas_server/cas.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __unicode__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if six.PY3:
